.sec1_reset_pass {
    background-color: var(--primary);
    width: 100%;
    padding-top: 9rem;
    height: 100vh;
    max-height: 40rem;
    display: flex;
    justify-content: flex-end;
}
.sec1_reset_pass_container {
    width: 100%;
    max-width: 1180px;
    margin: auto;
    form {
        width: fit-content;
        margin: auto;
        padding: 1rem 3rem 3rem;
        background-color: var(--primary);
        border-radius: 1rem;
        box-shadow: 0 0 0.5rem var(--shadow);
        p {
            text-align: center;
            font-size: 1.5rem;
            font-weight: 700;
            color: var(--second);
            margin: 1rem 0;
        }
        .box_image {
            width: 100%;
            display: flex;
            justify-content: center;
            img {
                width: 60%;
            }
        }
        .box_email,
        .box_phone {
            display: flex;
            margin: 1rem 0;
            label {
                display: inline-block;
                width: 5rem;
                font-size: 1.1rem;
                font-weight: 700;
                color: var(--second);
            }
            input {
                background-color: white;
                outline: none;
                border: none;
                width: 100%;
                max-width: 25rem;
                font-size: 1rem;
                padding: 0.2rem;
                height: 2rem;
                border-radius: 0.2rem;
                box-shadow: 0 0 0.5rem var(--shadow);
            }
        }
        .box_btn {
            display: flex;
            justify-content: center;
            input {
                padding: 0.3rem 3rem;
                width: 100%;

                background-color: var(--second_nhat);
                color: white;
                font-weight: 700;
                font-size: 1.1rem;
                outline: none;
                border: none;
                border-radius: 0.2rem;
                box-shadow: 0 0 0.5rem var(--shadow);
                cursor: pointer;
                transition: 0.3s;
            }
            input:hover {
                scale: 0.98;
            }
            input:active {
                background-color: var(--second);
            }
        }
    }
}
