.red-date {
    background-color: red;
    color: white;
}

.sec1_schedule {
    padding-top: 9rem;
    background-color: var(--primary);
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.sec1_schedule_container {
    width: 100%;
    max-width: 1180px;
    margin: auto;

    .back_link {
        display: flex;
        align-items: first baseline;

        .link {
            text-decoration: none;
            font-weight: 700;
            color: black;
        }

        i {
            font-size: 0.8rem;
            margin: 0 0.5rem;
        }

        p {
            background-image: linear-gradient(to right, var(--second), var(--second_nhat));
            font-weight: 700;
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        span {
            font-weight: 700;
            color: black;
        }
    }
}

.sec2_schedule {
    width: 100%;
    background-color: var(--primary);
    display: flex;
    justify-content: flex-start;
}

.sec2_schedule_container {
    width: 100%;
    max-width: 1180px;
    margin: auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    grid-template-areas:
        "l r r r"
        "l b b b";

    .left {
        grid-area: l;
        background-color: rgb(255, 255, 255);
        border-radius: 0.5rem;
        overflow: hidden;
        height: fit-content;
        box-shadow: 0 0 1rem var(--shadow);

        .title {
            font-size: 1.3rem;
            font-weight: 700;
            padding: 0.8rem;
            color: white;
            text-align: center;
            width: 100%;
            background-color: var(--second_nhat);
        }

        .information {
            padding: 1rem 1rem 2rem;

            .info_hospital {
                display: flex;
                align-items: baseline;

                i {
                    margin-right: 1rem;
                }

                div {
                    .name_hospital {
                        font-weight: 600;
                        font-size: 1.1rem;
                    }

                    .address_hospital {
                        font-size: 0.95rem;
                        color: var(--gray);
                    }
                }
            }

            .info_specialist {
                display: flex;
                align-items: baseline;
                margin: 0.5rem 0;

                i {
                    margin-right: 1rem;
                }

                .name_specialist {
                    font-weight: 500;
                    font-size: 1.1rem;

                    span {
                        font-weight: 450;
                    }
                }
            }

            .info_doctor {
                display: flex;
                align-items: baseline;
                margin: 0.5rem 0;

                i {
                    margin-right: 1rem;
                }

                .name_doctor {
                    font-weight: 500;
                    font-size: 1.1rem;

                    span {
                        font-weight: 450;
                    }
                }
            }

            .info_package {
                display: flex;
                align-items: baseline;
                margin: 0.5rem 0;

                i {
                    margin-right: 1rem;
                }

                .name_package {
                    font-weight: 500;
                    font-size: 1.1rem;

                    span {
                        font-weight: 450;
                    }
                }
            }

            .info_type {
                display: flex;
                align-items: baseline;
                margin: 0.5rem 0;

                i {
                    margin-right: 1rem;
                }

                .type {
                    font-weight: 600;
                    font-size: 1.1rem;

                    span {
                        font-weight: 450;
                    }
                }
            }

            .info_date {
                display: flex;
                align-items: baseline;
                margin: 0.5rem 0;

                i {
                    margin-right: 1rem;
                }

                .date {
                    font-weight: 600;
                    font-size: 1.1rem;

                    span {
                        font-weight: 450;
                    }
                }
            }
        }
    }

    .right {
        grid-area: r;
        background-color: white;
        margin-left: 1rem;
        border-radius: 0.5rem;
        overflow: hidden;
        box-shadow: 0 0 1rem var(--shadow);

        .title {
            width: 100%;
            background-image: linear-gradient(to right, var(--second), var(--second_nhat));
            text-align: center;
            font-size: 1.3rem;
            font-weight: 700;
            padding: 0.8rem;
            color: white;
        }

        .right_container {
            margin: 1rem 2rem;
            animation: showdate 0.4s ease-in-out;

            @keyframes showdate {
                0% {
                    transform: translateY(50%);
                }

                100% {
                    transform: translateY(0);
                }
            }

            .show_sum {
                width: 2rem;
                height: 2rem;
                border-radius: 50%;
                background-color: var(--second);
                color: white;
                font-weight: 700;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .status_container {
                width: 100%;
                margin-top: 1rem;

                margin: auto;

                .title_status {
                    background-color: var(--gray) !important;
                    text-align: center;
                    font-weight: 700;
                    font-size: 1.1rem;
                    background-image: linear-gradient(to right, var(--second), var(--second_nhat));
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                    margin: 0.5rem 0;
                }

                .box_status {
                    display: flex;
                    justify-content: space-around;

                    // grid-template-columns: repeat(2, 1fr);
                    div {
                        margin: 0.3rem 0;

                        p {
                            display: flex;
                            align-items: center;
                            font-weight: 600;

                            span {
                                display: inline-block;
                                width: 2rem;
                                height: 1rem;
                                margin-right: 0.5rem;
                            }

                            .low {
                                background-color: rgba(0, 208, 250, 0.25);
                            }

                            .medium {
                                background-color: rgba(255, 166, 0, 0.25);
                            }

                            .high {
                                background-color: rgba(255, 1, 1, 0.25);
                            }

                            .full {
                                background-color: var(--shadow);
                            }
                        }
                    }
                }
            }
        }

        .time_container {
            margin: 2rem;
            border-top: 0.2rem solid var(--second);
            position: relative;
            animation: showtime 0.4s ease-in-out;

            @keyframes showtime {
                0% {
                    transform: translateY(50%);
                }

                100% {
                    transform: translateY(0);
                }
            }

            .close {
                position: absolute;
                top: 0;
                right: 0;
                background-color: white;
                transform: translateY(-60%);
                padding: 0 0.5rem;
                cursor: pointer;
            }

            .morning {
                border-bottom: 0.1rem solid var(--shadow);
            }

            .box_time {
                padding: 1rem 0;

                .title_time {
                    font-size: 1.2rem;

                    font-weight: 600;
                }

                button {
                    padding: 0.8rem 1.5rem;
                    margin: 1rem 1rem;
                    background-color: var(--second);
                    color: white;
                    // border: 0.1rem solid var(--second);
                    border-radius: 0.5rem;
                    font-weight: 700;
                    font-size: 1.2rem;
                    border: none;
                    cursor: pointer;
                    box-shadow: 0 0 0.5rem var(--shadow);
                }

                button:active {
                    background-color: var(--second);
                    color: white;
                    scale: 0.98;
                }

                button:disabled {
                    background-color: white !important;
                    border: 0.1rem solid var(--shadow);
                    color: var(--shadow);
                }

                button:disabled:active {
                    background-color: red;
                    color: var(--shadow);
                }

                .red_button {
                    background-color: red !important;
                    color: white !important;
                }

                .orange_button {
                    background-color: var(--orange) !important;
                    color: white !important;
                }
            }
        }
    }

    .bottom {
        grid-area: b;
        margin: 1rem 0 0 1rem;
        cursor: pointer;

        .link {
            text-decoration: none;
            color: black;
            font-size: 1.1rem;
            font-weight: 500;

            i {
                margin-right: 0.5rem;
            }
        }
    }
}

@media screen and (max-width: 1023px) {
    .sec1_schedule {
        padding: 6rem 1rem 1rem;
    }
}

@media screen and (max-width: 992px) {
    .sec2_schedule_container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            "r"
            "l"
            "b";

        .right {
            margin: 0;
            margin-bottom: 2rem;
        }
    }
}